<div *ngIf="pokemon">
    <div class="row justify-content-center mt-3">
        <div class="card" style="width: 50vh;">
            <img [src]="pokemon.sprites.front_default" class="card-img-top" alt="{{ pokemon.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ pokemon.name }}</h5>
                <div class="d-flex gap-2 flex-wrap">
                    <app-pokemon-type *ngFor="let type of pokemon.types" [type]="type.type.name"></app-pokemon-type>
                </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>  