<div *ngIf="pokemon">
    <div class="row justify-content-center mt-3">
        <div class="card" style="width: 50vh;">
            <img [src]="pokemon.sprites.front_default" class="card-img-top" alt="{{ pokemon.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ pokemon.name }}</h5>
                <div class="d-flex gap-2 flex-wrap">
                    <app-pokemon-type *ngFor="let type of pokemon.types" [type]="type.type.name"></app-pokemon-type>
                </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Habilidad:
                <span class="badge text-bg-secondary">{{ pokemon.abilities[0].ability.name }}</span>
                <p class="fst-italic text-muted mt-3">{{ abilityEffect }}</p>
              </li>
              <li *ngIf="pokemon.abilities.length > 1" class="list-group-item">Habiidad oculta:
                <span class="badge text-bg-secondary">{{ pokemon.abilities[1].ability.name }}</span>
                <p class="fst-italic text-muted mt-3">{{ hiddenAbilityEffect }}</p>
                </li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>  