<div class="mt-3 text-center">
    <h2>Busca tu Pokémon</h2>
    <form class="row justify-content-center align-items-center g-2">
        <div class="col-auto">
            <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="pokemonName" 
                name="pokemonName" 
                placeholder="Nombre del Pokémon">
        </div>
        <div class="col-auto">
            <button 
                type="submit" 
                class="btn btn-primary" 
                (click)="searchPokemon()">Buscar</button>
        </div>
    </form>
</div>

<div *ngIf="loading">Loading...</div>

<div *ngIf="errorMessage" style="color: red">{{ errorMessage }}</div>

<app-pokemon-details [pokemon]="pokemonData"></app-pokemon-details>